---
title: Font Famous
description: The free vector logo font
scripts:
 - /js/includeSwitcher.js
 - /js/copyHelper.js
---
<div class="index">
	<img class="stars" src="/img/index/stars.svg" />
	<section class="section-1">
		<div class="container">
			<h1>The <span class="highlight">free</span> vector logo font for showing off your press!</h1>
			<div class="title-description">Version 2.0.0 · <a href="https://github.com/jsdelivr/FontFamous/" target="_blank">GitHub Project</a></div>
			<hr>
			<div class="include">
				<div class="options-group">
					<div class="text">Include the Font Famous style sheet in your <label>&lt;head&gt;</label> section:</div>
					<div class="interactive-group">
						<div class="options">
							<a class="html active" data-left="0" data-xs-left="0">HTML</a>
							<a class="pug" data-left="104" data-xs-left="60">PUG</a>
							<a class="haml" data-left="208" data-xs-left="120">HAML</a>
							<div class="bottom-slider"></div>
						</div>
						<label class="container">
							<input type="checkbox" value="0">
							<span class="checkmark"></span>
							SRI tag
						</label>
					</div>
					<div class="insert-group">
						<div class="insert-text"></div>
						<div class="info"><img src="/img/index/icon-info.svg"> Click to copy</div>
					</div>
				</div>
			</div>
			<div class="row icons">
				<div class="col-md-2 col-4"><i class="pr pr-forbes"></i></div>
				<div class="col-md-2 col-4"><i class="pr pr-huffington-post"></i></div>
				<div class="col-md-2 col-4"><i class="pr pr-cnn"></i></div>
				<div class="col-md-2 col-4"><i class="pr pr-new-york-times"></i></div>
				<div class="col-md-2 col-4"><i class="pr pr-product-hunt"></i></div>
				<div class="col-md-2 col-4"><i class="pr pr-techcrunch"></i></div>
			</div>
		</div>
	</section>
	<section class="section-2">
		<div class="container">
			<h3>Welcome to Font Famous</h3>
			<div class="description">Stop wasting time searching Google Images and spinning out in Photoshop trying to format media logos for your site. Show off your recent press mentions with a couple lines of CSS and get back to making fame worthy products.</div>
			<div class="connection-media">
				<iframe src="https://ghbtns.com/github-btn.html?user=jsdelivr&repo=FontFamous&type=star&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
				<iframe src="https://ghbtns.com/github-btn.html?user=jsdelivr&repo=FontFamous&type=fork&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
				<a href="https://twitter.com/jsDelivr" class="twitter-follow-button" data-show-count="true">Follow @jsDelivr</a>
				<a href="https://twitter.com/share" class="twitter-share-button" data-url="https://FontFamous.com" data-text="Font Famous, the media & press logos font and CSS framework by jsDelivr" data-via="FontFamous">Tweet</a>
				<script>!function (d, s, id) {
					var js, fjs = d.getElementsByTagName(s)[ 0 ], p = /^http:/.test(d.location) ? 'http' : 'https';
					if (!d.getElementById(id)) {
						js = d.createElement(s);
						js.id = id;
						js.src = p + '://platform.twitter.com/widgets.js';
						fjs.parentNode.insertBefore(js, fjs);
					}
				}(document, 'script', 'twitter-wjs');</script>
			</div>
		</div>
		<div class="row tweets">
			<div class="tweet">
				<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">thanks <a href="https://twitter.com/FontFamous?ref_src=twsrc%5Etfw">@FontFamous</a> for liking my tweet</p>&mdash; Badminton Court (@techmachine1992) <a href="https://twitter.com/techmachine1992/status/708778921496416256?ref_src=twsrc%5Etfw">12. marca 2016</a></blockquote>
				<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
			<div class="tweet">
				<div>
					<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">these great vector logo fonts by <a href="https://twitter.com/FontFamous?ref_src=twsrc%5Etfw">@FontFamous</a> highlight the iconic <a href="https://twitter.com/hashtag/typography?src=hash&amp;ref_src=twsrc%5Etfw">#typography</a> from various media brands logos</p>&mdash; HJ Chen @JSHeroes 🇷🇴 (@hj_chen) <a href="https://twitter.com/hj_chen/status/718955111477686272?ref_src=twsrc%5Etfw">10. apríla 2016</a></blockquote>
					<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				</div>
			</div>
			<div class="tweet">
				<div>
					<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Hey .<a href="https://twitter.com/YourStoryCo?ref_src=twsrc%5Etfw">@YourStoryCo</a> check this out. must have Font Famous logo, the media &amp; press logos font framework <a href="https://t.co/IgRhOU9Zs3">https://t.co/IgRhOU9Zs3</a>  <a href="https://twitter.com/FontFamous?ref_src=twsrc%5Etfw">@FontFamous</a></p>&mdash; Kuldeep Bhatt (@TeslaJi) <a href="https://twitter.com/TeslaJi/status/718912909737398273?ref_src=twsrc%5Etfw">9. apríla 2016</a></blockquote>
					<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				</div>
			</div>
			<div class="tweet">
				<div>
					<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">OMG I &lt;3 <a href="https://twitter.com/FontFamous?ref_src=twsrc%5Etfw">@FontFamous</a> <a href="https://t.co/m3zZqCF1Zj">https://t.co/m3zZqCF1Zj</a>  Like <a href="https://twitter.com/fontawesome?ref_src=twsrc%5Etfw">@fontawesome</a> but w/logos. <a href="https://twitter.com/hashtag/startup?src=hash&amp;ref_src=twsrc%5Etfw">#startup</a> <a href="https://twitter.com/hashtag/webdesign?src=hash&amp;ref_src=twsrc%5Etfw">#webdesign</a></p>&mdash; Robyn Tippins (@duzins) <a href="https://twitter.com/duzins/status/709445558205722629?ref_src=twsrc%5Etfw">14. marca 2016</a></blockquote>
					<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				</div>
			</div>
			<div class="tweet">
				<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Font Famous, show off your recent press mentions with a couple lines of <a href="https://twitter.com/hashtag/CSS?src=hash&amp;ref_src=twsrc%5Etfw">#CSS</a> <a href="https://twitter.com/hashtag/logo?src=hash&amp;ref_src=twsrc%5Etfw">#logo</a> <a href="https://twitter.com/hashtag/font?src=hash&amp;ref_src=twsrc%5Etfw">#font</a> <a href="https://t.co/SFNJWJWSFn">https://t.co/SFNJWJWSFn</a> via <a href="https://twitter.com/FontFamous?ref_src=twsrc%5Etfw">@FontFamous</a></p>&mdash; Chris Flynn (@chrisy_flynn) <a href="https://twitter.com/chrisy_flynn/status/707713251572883456?ref_src=twsrc%5Etfw">9. marca 2016</a></blockquote>
				<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
		</div>
	</section>
	<section class="section-3" id="implementation">
		<div class="container">
			<h3>Easy Implementation</h3>
			<div class="description">Simply include the Font Famous style sheet in your header and use the following classes to style any element as a logo. <a href="https://jsbin.com/dirorovile/edit?html,css,output" target="_blank">Try it on JS Bin!</a></div>
			<div class="implementation-group">
				Set the class of the elements you want to style as a media logo:
				<label>&lt;i class=&#34;pr pr-techcrunch&#34;&gt;&lt;/i&gt;</label>
			</div>
		</div>
	</section>
	<section class="section-4" id="collection">
		<div class="container">
			<h3>The full Font Famous collection</h3>
			<div class="description"><a href="https://github.com/jsdelivr/FontFamous/issues" target="_blank">Let us know</a> what logos you need us to add!</div>
			<div class="row">
				{{#logos}}
					<div class="col-md-3 col-6">
						<div>
							<i class="pr pr-{{name}}"></i>
							<hr>
							<div class="logo-title">pr-{{name}}</div>
						</div>
					</div>
				{{/logos}}
			</div>
		</div>
	</section>
</div>
