<footer class="footer">
	<section id="contact">
		<div class="container">
			<div class="original">Original creation by Anthony David Adams <a href="https://twitter.com/AnthonyAdams" target="_blank">@AnthonyAdams</a>.</div>
			<div class="maintained">Currently maintained by the jsDelivr team <a href="https://twitter.com/jsdelivr" target="_blank">@jsDelivr</a> and <a href="https://appfleet.com/">appfleet</a>.</div>
			<div class="thanks">Thanks to <span class="underline"><a href="https://twitter.com/davegandy" target="_blank">Dave Gandy</a> @ <a href="https://fontawesome.io" target="_blank">Font Awesome</a> for the inspiration, <a href="https://twitter.com/jdorfman" target="_blank">Justin Dorfman</a></span> for the help, and YOU for using Font Famous!</div>
		</div>
	</section>
</footer>
