<header class="header">
	<nav class="navbar navbar-expand-md">
		<div class="container">
			<a class="navbar-brand" href="#"><img src="/build/img/navbar/logo.svg" /></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
				<i class="fas fa-bars"></i>
			</button>
			<div class="collapse navbar-collapse" id="collapsibleNavbar">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="#implementation">Implementation</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#collection">Collection</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#contact">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
