<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>{{page.title}}</title>
		<meta name="description" content="{{page.description}}">

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Font Famous</title>
		<meta property="og:title" content="Font Famous">
		<meta property="og:site_name" content="Font Famous">
		<meta property="og:url" content="https://fontfamous.com">
		<meta property="og:description" content="Stop wasting time searching Google Images and spinning out in Photoshop trying to format media logos for your site. Show off your recent press with one line of CSS and get back to making fame worthy products. By Anthony David Adams.">
		<meta property="fb:app_id" content="1114390398594791">
		<meta property="og:type" content="product">
		<meta property="og:image" content="http://fontfamous.com/fbshare.png">

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/img/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
		<link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.8.1/css/all.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastr@2.1.4/build/toastr.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/dist/css/font-famous.css">
	</head>
	<body>
		{{>header}}
		{{>body}}
		{{>footer}}

		<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/toastr@2.1.4/build/toastr.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.4/dist/clipboard.min.js"></script>
		<script src="/js/common.js"></script>

		{{#each scripts}}
			<script src="{{this}}?{{../commit_hash}}"></script>
		{{/each}}

		<script async src="https://cdn.jsdelivr.net/npm/perfops-rom/dist/rom.min.js"></script>
	</body>
</html>
